# I. Twitter Image Scraping

## Initialize API.

In [1]:
import config
import tweepy
import pandas as pd

api_key = ''
api_key_secret = ''

access_token = ''
access_secret_token = ''

auth = tweepy.OAuthHandler(config.api_key, config.api_key_secret)
auth.set_access_token(config.access_token, config.access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

## Define function to fetch user tweets with appropriate parameters.

In [2]:
def getUserTweets(screen_name, count):


    # get tweets from the API
    tweets = tweepy.Cursor(api.user_timeline, screen_name=screen_name).items(count)

    # store the API responses in a list
    tweets_copy = []
    for tweet in tweets:
        if 'media' in tweet.entities: # and 'RT @' not in tweet.text:
            tweets_copy.append(tweet)

    # initialize the dataframe
    tweets_df = pd.DataFrame()
    # populate the dataframe
    for tweet in tweets_copy:
        hashtags = []
        media_url = []
        try:
            for hashtag in tweet.entities["hashtags"]:
                hashtags.append(hashtag["text"])
            for media in tweet.entities['media']:
                media_url.append(media["media_url_https"])
        except:
            pass
        tweets_df = pd.concat([tweets_df, pd.DataFrame({'created_at': tweet.created_at,
                                                        'user_name': tweet.user.name,
                                                        'screen_name': tweet.user.screen_name,
                                                        'description': tweet.user.description,
                                                        'user_location': tweet.user.location,
                                                        'text': tweet.text,
                                                        'language': tweet.lang,
                                                        'hashtags': [hashtags if hashtags else None],
                                                        'media_url': [media_url if media_url else None],
                                                        'source': tweet.source,
                                                        'coordinates': tweet.coordinates,
                                                        'place': tweet.place,
                                                        'time_zone': tweet.user.time_zone,
                                                        })])
        tweets_df = tweets_df.reset_index(drop=True)

    return tweets_df

## Define function to fetch query tweets with appropriate parameters.

In [3]:
def getQueryTweets(search_query, count):

    # get tweets from the API
    tweets = tweepy.Cursor(api.search_tweets, q=search_query).items(count)

    # store the API responses in a list
    tweets_copy = []
    for tweet in tweets:
        if 'media' in tweet.entities:
            tweets_copy.append(tweet)

    # initialize the dataframe
    tweets_df = pd.DataFrame()
    # populate the dataframe
    for tweet in tweets_copy:
        hashtags = []
        media_url = []
        try:
            for hashtag in tweet.entities["hashtags"]:
                hashtags.append(hashtag["text"])
            for media in tweet.entities['media']:
                media_url.append(media["media_url_https"])
        except:
            pass
        tweets_df = pd.concat([tweets_df, pd.DataFrame({'created_at': tweet.created_at,
                                                        'user_name': tweet.user.name,
                                                        'screen_name': tweet.user.screen_name,
                                                        'description': tweet.user.description,
                                                        'user_location': tweet.user.location,
                                                        'text': tweet.text,
                                                        'language': tweet.lang,
                                                        'hashtags': [hashtags if hashtags else None],
                                                        'media_url':[media_url if media_url else None],
                                                        'source': tweet.source,
                                                        'coordinates': tweet.coordinates,
                                                        'place': tweet.place,
                                                        'time_zone': tweet.user.time_zone,
                                                        })])
        tweets_df = tweets_df.reset_index(drop=True)

    return tweets_df

## User Tweets
Use getUserTweets() function to fetch user tweets

### user1
screen_name = @PilotHarbour

In [4]:
# Use getUserTweets function (screen_name = 'PilotHarbour', count = 1000)
user1 = getUserTweets('PilotHarbour', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user1))

# show the dataframe
user1.head()

Total Tweets fetched: 785

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 18:12:41+00:00,Harbour Pilot,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",Greentec inbound Odessa port. \nhttps://t.co/F...,en,None,[https://pbs.twimg.com/media/FNRCFELWYAAZGB9.jpg],Twitter Web App,None,None,None
1,2022-03-07 18:01:22+00:00,Harbour Pilot,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",Odessa port.\nhttps://t.co/b5GmYYocZC https://...,pt,None,[https://pbs.twimg.com/media/FNQ_fRIXMAAqJz_.jpg],Twitter Web App,None,None,None
2,2022-03-07 17:43:53+00:00,Harbour Pilot,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",Alexandria berthed Odessa port. \nhttps://t.co...,fi,None,[https://pbs.twimg.com/media/FNQ7e7NXoAAUH-c.jpg],Twitter Web App,None,None,None
3,2022-03-07 03:39:46+00:00,Harbour Pilot,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",@cyberzan02 https://t.co/G39cIZgG9k,und,None,[https://pbs.twimg.com/media/FNN6RroX0AQw5L7.jpg],Twitter Web App,None,None,None
4,2022-03-06 19:10:12+00:00,Harbour Pilot,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",Occitan Pauillac inbound Valencia port. \nhttp...,en,None,[https://pbs.twimg.com/media/FNMFpsbX0AkNCx9.jpg],Twitter Web App,None,None,None

In [9]:
# export dataframe to csv file
user1.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_pilotharbour.csv')

### user2
screen_name = @ShippingMag

In [5]:
# Use getUserTweets function (screen_name = 'ShippingMag', count = 1000)
user2 = getUserTweets('ShippingMag', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user2))

# show the dataframe
user2.head()

Total Tweets fetched: 203

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 05:39:57+00:00,Shipping Mag,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,RT @PNWstevedore: Terminal 18\nWide Bravo In...,en,None,[https://pbs.twimg.com/ext_tw_video_thumb/1500...,Twitter for Android,None,None,None
1,2022-03-06 20:33:14+00:00,Shipping Mag,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,RT @capt_haitham: #Repost\n\nThere goes a #Pil...,en,"[Repost, Pilot]",[https://pbs.twimg.com/ext_tw_video_thumb/1500...,Twitter for Android,None,None,None
2,2022-03-06 06:11:37+00:00,Shipping Mag,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,RT @GaloMonge: Trabajando en equipo @boludacm ...,es,None,[https://pbs.twimg.com/media/FNHBO7tXIAcX-9u.jpg],Twitter for Android,None,None,None
3,2022-03-05 13:33:01+00:00,Shipping Mag,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,"RT @donships1: No.1632 New Camellia 2004 19,96...",en,None,[https://pbs.twimg.com/media/FNEnbzyXMAUosR4.jpg],Twitter for Android,None,None,None
4,2022-03-03 05:40:50+00:00,Shipping Mag,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,"RT @JuanGMata: Ferry ""Bahama Mama"" saliendo de...",es,None,[https://pbs.twimg.com/media/FM4CiZiWQAMtiUO.jpg],Twitter for Android,None,None,None

In [6]:
# export dataframe to csv file
user2.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_shippingmag.csv')

### user3
screen_name = @ShipsInPics

In [7]:
# Use getUserTweets function (screen_name = 'ShipsInPics', count = 1000)
user3 = getUserTweets('ShipsInPics', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user3))

# show the dataframe
user3.head()

Total Tweets fetched: 113

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 11:10:35+00:00,Ships In Pictures ⚓️,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @PilociMorscy: 🇦🇬BBC SAPPHIRE\n🐳14356 t\n📏1...,en,"[okiempilota, zżyciapilota, shipsinpics]",[https://pbs.twimg.com/media/FNPcRAmWYAUCZII.jpg],RT #shipinpics,None,None,None
1,2022-03-07 00:10:35+00:00,Ships In Pictures ⚓️,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @peterlenderink: Dream - IMO 9322578 Callsi...,en,"[shipsinpics, ijmuiden]",[https://pbs.twimg.com/media/FNNBLv8X0Agqe6Q.jpg],RT #shipinpics,None,None,None
2,2022-03-05 19:10:35+00:00,Ships In Pictures ⚓️,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @AfricaUya: FREESIA at⚓️ #Ship #port #ship...,in,"[Ship, port, shipsinpics, maritime, VTS, ships...",[https://pbs.twimg.com/media/FNGy-yCXwAIkBr9.jpg],RT #shipinpics,None,None,None
3,2022-03-05 13:10:35+00:00,Ships In Pictures ⚓️,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @Apez140: #Instantes\nCon los que me identi...,es,"[Instantes, ShipsInPics]",[https://pbs.twimg.com/media/FNFhIx7XoAEoKkW.jpg],RT #shipinpics,None,None,None
4,2022-03-04 18:10:45+00:00,Ships In Pictures ⚓️,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @johnmorgan726: The #RAM15 MMSI:366878290 o...,en,"[RAM15, ShipsInPics]",[https://pbs.twimg.com/media/FNBjT7GX0AMkkjb.jpg],RT #shipinpics,None,None,None

In [8]:
# export dataframe to csv file
user3.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_shipsinpics.csv')

### user4
screen_name = @MarineInsight

In [10]:
# Use getUserTweets function (screen_name = 'MarineInsight', count = 1000)
user4 = getUserTweets('ManuelHdezLaf', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user4))

# show the dataframe
user4.head()

Total Tweets fetched: 127

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-06 18:45:17+00:00,Manuel Hernández Lafuente ⚓🌱📷,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",#Onagraceae\n#Oenothera rosea L'Hér. ex Aiton ...,ro,"[Onagraceae, Oenothera]",[https://pbs.twimg.com/media/FNL_8jRWQAklyDe.jpg],Twitter Web App,None,None,None
1,2022-03-06 09:59:23+00:00,Manuel Hernández Lafuente ⚓🌱📷,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",Antiguo Faro de Valencia - @FarosLos @FarosdeE...,es,None,[https://pbs.twimg.com/media/FNKHjG1XMAcgIQo.jpg],Twitter Web App,None,None,None
2,2022-03-01 17:10:18+00:00,Manuel Hernández Lafuente ⚓🌱📷,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",Besalú \nhttps://t.co/8qkkPQmDtp https://t.co/...,es,None,[https://pbs.twimg.com/media/FMx6PtIXwAUBFdJ.jpg],Twitter Web App,None,None,None
3,2022-03-01 12:55:15+00:00,Manuel Hernández Lafuente ⚓🌱📷,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",#Oleaceae\n#Olea europaea L. / Olivo. Olive. O...,et,"[Oleaceae, Olea]",[https://pbs.twimg.com/media/FMw_4VQXMAIMMf_.jpg],Twitter Web App,None,None,None
4,2022-03-01 12:24:34+00:00,Manuel Hernández Lafuente ⚓🌱📷,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",#Oleaceae\n#Ligustrum ovalifolium Hassk. / Ali...,ca,"[Oleaceae, Ligustrum]",[https://pbs.twimg.com/media/FMw42nrX0A0Eet9.jpg],Twitter Web App,None,None,None

In [11]:
# export dataframe to csv file
user4.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_manuelhdezlaf.csv')

### user4
screen_name = @WarshipCam

In [12]:
# Use getUserTweets function (screen_name = 'WarshipCam', count = 1000)
user5 = getUserTweets('WarshipCam', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user5))

# show the dataframe
user5.head()

Total Tweets fetched: 66

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 16:33:34+00:00,WarshipCam,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",USS Nimitz (CVN 68) Nimitz-class aircraft carr...,en,"[ussnimitz, cvn68]",[https://pbs.twimg.com/media/FNQrZbvWQAAKhZZ.jpg],Twitter for iPad,None,None,None
1,2022-03-07 15:43:39+00:00,WarshipCam,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",USS Nimitz (CVN 68) Nimitz-class aircraft carr...,en,"[ussnimitz, cvn68]",[https://pbs.twimg.com/media/FNQf-O2WUAQkuC5.jpg],Twitter for iPad,None,None,None
2,2022-03-05 12:49:35+00:00,WarshipCam,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",HMCS Halifax (FFH 330) Halifax-class frigate l...,fi,"[hmcshalifax, ffh330]",[https://pbs.twimg.com/media/FNFk84JXEAYHm_Q.jpg],Twitter for iPad,None,None,None
3,2022-03-05 12:17:57+00:00,WarshipCam,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",German Navy Elbe-class tender FGS Main (A515) ...,en,"[fgsmain, a515]",[https://pbs.twimg.com/media/FNFdtcgXwAA0Pyy.jpg],Twitter for iPad,None,None,None
4,2022-03-04 13:30:05+00:00,WarshipCam,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",Standing NATO Mine Countermeasures Group 1 (SN...,en,[snmcmg1],[https://pbs.twimg.com/media/FNAkoh7WUAYpI7j.jpg],Twitter for iPad,None,None,None

In [13]:
# export dataframe to csv file
user5.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_warshipcam.csv')

### user6
screen_name = @NavyLookout

In [14]:
# Use getUserTweets function (screen_name = 'NavyLookout', count = 1000)
user6 = getUserTweets('NavyLookout', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user6))

# show the dataframe
user6.head()

Total Tweets fetched: 290

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 17:01:49+00:00,Navy Lookout,NavyLookout,Independent Royal Navy news and analysis,UK,.@HMS_Richmond sails from Portsmouth to join e...,en,[ColdResponse22],[https://pbs.twimg.com/media/FNQx05-XsAMV3B0.jpg],TweetDeck,None,None,None
1,2022-03-07 09:27:13+00:00,Navy Lookout,NavyLookout,Independent Royal Navy news and analysis,UK,.@HMSLANCASTER outbound from Devonport this mo...,en,None,[https://pbs.twimg.com/media/FNPJzaHXEAYUzCU.jpg],TweetDeck,None,None,None
2,2022-03-07 08:16:26+00:00,Navy Lookout,NavyLookout,Independent Royal Navy news and analysis,UK,🇺🇸USS Roosevelt inbound to Devonport this morn...,en,None,[https://pbs.twimg.com/media/FNO5l3zX0AMS5up.jpg],TweetDeck,None,None,None
3,2022-03-06 15:09:07+00:00,Navy Lookout,NavyLookout,Independent Royal Navy news and analysis,UK,Stunning view of @hmssevern outbound on the Fi...,en,None,[https://pbs.twimg.com/media/FNLObCbXoAQtW0P.jpg],TweetDeck,None,None,None
4,2022-03-06 14:13:54+00:00,Navy Lookout,NavyLookout,Independent Royal Navy news and analysis,UK,.@hms_argyll leaving Liverpool today.\n\nVia @...,en,None,[https://pbs.twimg.com/media/FNLBwhVWUAAaPXQ.jpg],TweetDeck,None,None,None

In [15]:
# export dataframe to csv file
user6.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_navylookout.csv')

### user7
screen_name = @FraserG32883664

In [16]:
# Use getUserTweets function (screen_name = 'FraserG32883664', count = 1000)
user7 = getUserTweets('FraserG32883664', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user7))

# show the dataframe
user7.head()

Total Tweets fetched: 187

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-05 07:12:37+00:00,Fraser Gray,FraserG32883664,,,Bulk carrier Moleson heading into Gravesend Re...,en,"[ShipsInPics, BulkCarrier, RiverThames]",[https://pbs.twimg.com/media/FNEXxv4XEAYyChv.jpg],Twitter Web App,None,None,None
1,2022-02-24 08:46:20+00:00,Fraser Gray,FraserG32883664,,,Panama flagged Teal Bulker has been trading o...,en,"[ShipsInPics, Gravesend, RiverThames]",[https://pbs.twimg.com/media/FMWW4XCXsAAOluf.jpg],Twitter Web App,None,None,None
2,2022-02-23 09:16:46+00:00,Fraser Gray,FraserG32883664,,,“Full steam ahead” tanker Hellas Avatar in Gra...,en,"[ShipsInPics, Gravesend, RiverThames]",[https://pbs.twimg.com/media/FMRUG_WX0AEVPLL.jpg],Twitter Web App,None,None,None
3,2022-02-14 09:24:37+00:00,Fraser Gray,FraserG32883664,,,Cobelfret’s ro-ro cargo vessel Valentine on th...,en,"[ShipsInPics, RiverThames]",[https://pbs.twimg.com/media/FLi_js_WUAIk33U.jpg],Twitter Web App,None,None,None
4,2022-01-31 08:54:29+00:00,Fraser Gray,FraserG32883664,,,Bulk carrier Maccoa transits the Essex shores ...,en,"[ShipsInPics, RiverThames]",[https://pbs.twimg.com/media/FKaymQ_XoAQiscv.jpg],Twitter Web App,None,None,None

In [17]:
# export dataframe to csv file
user7.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_fraserg32883664.csv')

### user8
screen_name = @pah1974

In [18]:
# Use getUserTweets function (screen_name = 'pah1974', count = 1000)
user8 = getUserTweets('pah1974', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user8))

# show the dataframe
user8.head()

Total Tweets fetched: 319

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-04 14:28:08+00:00,paul hiett,pah1974,ship spotter.posting pics and video's of ships...,,Small tug/workboat ASSASSIN makes her way up t...,en,None,[https://pbs.twimg.com/media/FNAxx_AXoAMyNH2.jpg],Twitter Web App,None,None,None
1,2022-03-04 14:25:52+00:00,paul hiett,pah1974,ship spotter.posting pics and video's of ships...,,Dredger SAND FULMAR on approach to the port of...,en,None,[https://pbs.twimg.com/media/FNAwsF6XoAUKGnP.jpg],Twitter Web App,None,None,None
2,2022-02-28 17:00:41+00:00,paul hiett,pah1974,ship spotter.posting pics and video's of ships...,,Vehicles carrier RCC ANTWERP heading for Tilbu...,en,None,[https://pbs.twimg.com/media/FMsuHvLX0AEiiFV.jpg],Twitter Web App,None,None,None
3,2022-02-28 16:33:27+00:00,paul hiett,pah1974,ship spotter.posting pics and video's of ships...,,Ro-Ro cargo ship VESPERTINE passing Tilbury in...,en,None,[https://pbs.twimg.com/media/FMsoMKgXMAYgkG1.jpg],Twitter Web App,None,None,None
4,2022-02-28 16:27:30+00:00,paul hiett,pah1974,ship spotter.posting pics and video's of ships...,,General cargo ship KATE C passing Tilbury inbo...,en,None,[https://pbs.twimg.com/media/FMsmpCXXIAEvLLR.jpg],Twitter Web App,None,None,None

In [30]:
# export dataframe to csv file
user8.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_pah1974.csv')

### user9
screen_name = @johnmorgan726

In [20]:
# Use getUserTweets function (screen_name = 'johnmorgan726', count = 1000)
user9 = getUserTweets('johnmorgan726', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user9))

# show the dataframe
user9.head()

Total Tweets fetched: 109

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 20:19:08+00:00,John Morgan,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",RT @Visita_Cortesia: Crucero AIDAmar atracado ...,es,None,[https://pbs.twimg.com/media/FNRe1cqWQAAOcO6.jpg],Twitter for iPad,None,None,None
1,2022-03-07 19:39:23+00:00,John Morgan,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",RT @Fotogmike: Since Upstate NY is trending I ...,en,None,[https://pbs.twimg.com/media/FNN-tdiX0AAbz_o.jpg],Twitter for iPad,None,None,None
2,2022-03-06 21:34:01+00:00,John Morgan,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",With a particularly heavy load the #HopperDred...,en,"[HopperDredger, Stuyvesant, dumpsight]",[https://pbs.twimg.com/media/FNMmkujWYAU0z-3.jpg],Twitter for iPad,None,Place(_api=<tweepy.api.API object at 0x000002C...,None
3,2022-03-05 18:20:00+00:00,John Morgan,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",RT @Visita_Cortesia: Ferry Golden Bridge de pr...,es,None,[https://pbs.twimg.com/media/FNGwJHdXsAY5TWU.jpg],Twitter for iPhone,None,None,None
4,2022-03-05 16:01:42+00:00,John Morgan,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA","The BREMEN, IMO:9450387 en route to New York, ...",en,"[Bremen, ContainerShip, ShipsInPics]",[https://pbs.twimg.com/media/FNGQ69wX0AgbOvZ.jpg],Twitter for iPad,None,Place(_api=<tweepy.api.API object at 0x000002C...,None

In [21]:
# export dataframe to csv file
user9.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_johnmorgan726.csv')

### user10
screen_name = @MaritimePhotos

In [22]:
# Use getUserTweets function (screen_name = 'MaritimePhotos', count = 1000)
user10 = getUserTweets('MaritimePhotos', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user10))

# show the dataframe
user10.head()

Total Tweets fetched: 407

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-01 09:04:13+00:00,Gary Davies,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",Maiden UK call of @VirginVoyages #ValiantLady ...,en,"[ValiantLady, cruise, newcruiseship, Portsmouth]",[https://pbs.twimg.com/media/FMwKncUXwAILGbi.jpg],Twitter Web App,None,None,None
1,2022-02-25 13:40:54+00:00,Gary Davies,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",That's @hmsdiamond deploying for the eastern M...,en,[Portsmouth],[https://pbs.twimg.com/media/FMcjfvhXMAI-rcg.jpg],Twitter Web App,None,None,None
2,2022-02-24 18:18:22+00:00,Gary Davies,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",Nice to see @BrittanyFerries #Barfleur back in...,en,[Barfleur],[https://pbs.twimg.com/media/FMYZY3qWYAIrQ29.jpg],Twitter Web App,None,None,None
3,2022-02-04 15:34:56+00:00,Gary Davies,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",The @NATO Response Force Task Group flagship @...,en,[Portsmouth],[https://pbs.twimg.com/media/FKw0U20XwAobvqU.jpg],Twitter Web App,None,None,None
4,2022-01-30 19:51:06+00:00,Gary Davies,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",Maiden UK call of #EverAlp one of the world's ...,en,"[EverAlp, Evergreen]",[https://pbs.twimg.com/media/FKX-VQpXoAA_zTy.jpg],Twitter Web App,None,None,None

In [31]:
# export dataframe to csv file
user10.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_maritimephotos.csv')

## Query Tweets
Use getQueryTweets() function to fetch query tweets

### query1
search_query = warship

In [24]:
# Use getQueryTweets function (search_query = 'warship', count = 500)
query1 = getQueryTweets('warship -filter:retweets', 500) # -filter:retweets excludes RT from query

# show total number of tweets fetched
print("Total Tweets fetched:", len(query1))

# show the dataframe
query1.head()

Total Tweets fetched: 41

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-08 00:11:02+00:00,軍艦を偏見とガバガバ知識で語るbot,warship_hengaba,その名の通り軍艦を偏見とガバガバ知識で語るbotです。30分に1回はつぶやきます。 艦これ...,どこか,1号型ミサイル艇/日本/ミサイル艇\n旧式化した魚雷艇をミサイル艇に置き換えたい→分かる\n...,ja,None,[https://pbs.twimg.com/media/D1JeHtYUYAAzlYW.jpg],twittbot.net,None,None,None
1,2022-03-08 00:08:52+00:00,💙 Jane 🇺🇦 🕊️🌱,localnotail,Local. Bit Gonzo\nMostly harmless Library Assi...,"Birmingham, Europe, Earth",Looks like that Russian Warship got served 👍\n...,en,None,[https://pbs.twimg.com/media/FNSTR-PXoAgvFbI.jpg],Twitter Web App,None,None,None
2,2022-03-08 00:08:39+00:00,хроніки незабаром 🦚🇺🇦,shurioque,"файний хлопець з котом; живу у Вашингтоні, пра...","Washington, DC","Russian warship, go fuck yourself! https://t.c...",en,None,[https://pbs.twimg.com/media/FNSTjlqWYAQ32KC.jpg],Twitter for iPhone,None,None,None
3,2022-03-07 23:40:56+00:00,軍艦を偏見とガバガバ知識で語るbot,warship_hengaba,その名の通り軍艦を偏見とガバガバ知識で語るbotです。30分に1回はつぶやきます。 艦これ...,どこか,ワスプ/アメリカ/空母\nヨークタウン級建造の際に余った排水量を埋めるために作った空母 アメ...,ja,None,[https://pbs.twimg.com/media/Dz2-U8RVAAAKSkb.jpg],twittbot.net,None,None,None
4,2022-03-07 23:11:36+00:00,軍艦を偏見とガバガバ知識で語るbot,warship_hengaba,その名の通り軍艦を偏見とガバガバ知識で語るbotです。30分に1回はつぶやきます。 艦これ...,どこか,天龍型軽巡洋艦/日本/軽巡洋艦\nイギリスのアリシューザ級を参考に建造した日本初の軽巡洋艦 ...,ja,None,[https://pbs.twimg.com/media/DDDU-J4UAAAzYM0.jpg],twittbot.net,None,None,None

In [25]:
# export dataframe to csv file
query1.to_csv('C:/Users/tivon/projects/twitter_project/data/query_tweets_warship.csv')

### query2
search_query = containership

In [26]:
# Use getQueryTweets function (search_query = 'containership', count = 500)
query2 = getQueryTweets('containership -filter:retweets', 500) # -filter:retweets excludes RT from query

# show total number of tweets fetched
print("Total Tweets fetched:", len(query2))

# show the dataframe
query2.head()

Total Tweets fetched: 13

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 20:02:03+00:00,TheEazyCadet,EazyCadet,'The Eazy Cadet' is an online resource centre ...,"England, United Kingdom",Incident Video: Dinghy Operator Nearly Run Ove...,en,None,[https://pbs.twimg.com/media/FNRbHhPVgAM0u_-.png],dlvr.it,None,None,None
1,2022-03-07 10:23:06+00:00,TheEazyCadet,EazyCadet,'The Eazy Cadet' is an online resource centre ...,"England, United Kingdom",LNG-fueled containership MSC Washington wraps ...,en,None,[https://pbs.twimg.com/media/FNPWmoyUYAElRjN.jpg],dlvr.it,None,None,None
2,2022-03-05 16:01:42+00:00,John Morgan,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA","The BREMEN, IMO:9450387 en route to New York, ...",en,"[Bremen, ContainerShip, ShipsInPics]",[https://pbs.twimg.com/media/FNGQ69wX0AgbOvZ.jpg],Twitter for iPad,None,Place(_api=<tweepy.api.API object at 0x000002C...,None
3,2022-03-03 07:18:29+00:00,Færder,faerder46,"Ships, ferries, life.... enjoy listening to th...",UK,The JSP Rover @DublinPortCo @BgFreightLine #co...,en,"[containership, dublin, freight, supplychain, ...",[https://pbs.twimg.com/media/FM6F_OEWYAEXq5w.jpg],Twitter for iPhone,None,None,None
4,2022-03-02 08:40:07+00:00,Adis Ajdin,AdisAjdin,Chief Correspondent at Splash Maritime and Off...,,Containership orderbook closes in on all-time ...,en,None,[https://pbs.twimg.com/media/FM1PFgMVUAcACMz.jpg],dlvr.it,None,None,None

In [27]:
# export dataframe to csv file
query2.to_csv('C:/Users/tivon/projects/twitter_project/data/query_tweets_containership.csv')

### query3
search_query = navylookout

In [28]:
# Use getQueryTweets function (search_query = 'navylookout', count = 500)
query3 = getQueryTweets('navylookout -filter:retweets', 500) # -filter:retweets excludes RT from query

# show total number of tweets fetched
print("Total Tweets fetched:", len(query3))

# show the dataframe
query3.head()

Total Tweets fetched: 32

,created_at,user_name,screen_name,description,user_location,text,language,hashtags,media_url,source,coordinates,place,time_zone
0,2022-03-07 20:57:01+00:00,Bill Smith,Bill3294,,,@NavyLookout @COM_SNMG1 @dcullen_photo I watch...,en,None,[https://pbs.twimg.com/media/FNRnqa1XMAEvT9f.jpg],Twitter Web App,None,None,None
1,2022-03-07 20:26:30+00:00,Jonathan,JonoCC,,"Dundee, Scotland",@NavyLookout @UKDefJournal @geoallison https:/...,und,None,[https://pbs.twimg.com/ext_tw_video_thumb/1500...,Twitter Web App,None,None,None
2,2022-03-07 20:25:15+00:00,Jonathan,JonoCC,,"Dundee, Scotland",@NavyLookout @UKDefJournal @geoallison https:/...,und,None,[https://pbs.twimg.com/ext_tw_video_thumb/1500...,Twitter Web App,None,None,None
3,2022-03-07 18:07:50+00:00,TomLeachPhotography,TomLeachPhotos,18 Year old Photographer.\n\nLiverpool and Glo...,,@HMSLANCASTER inbound to a cold and windy @HMN...,en,None,[https://pbs.twimg.com/media/FNRAtc2XMAIS-0Z.jpg],Twitter for Android,None,None,None
4,2022-03-07 17:49:25+00:00,Chris C 🇬🇧,scottyc298,Focus on 🇬🇧 Navy and covers all branches inc 🇺...,"Fareham, England",@HMSQNLZ and @HMS_Richmond. @RNPics_ @SouthCoa...,und,None,[https://pbs.twimg.com/media/FNQ8wc3XIAIgkgC.jpg],Twitter for iPhone,None,None,None

In [29]:
# export dataframe to csv file
query3.to_csv('C:/Users/tivon/projects/twitter_project/data/query_tweets_navylookout.csv')